<!doctype html>
<title>TB Form</title>
<h1>TB Form</h1>
<h2>Please fill the following details:</h2>
<form method=post enctype=multipart/form-data>
  <p>Name <input type = "text" name = "Name" /></p>
  <p><b>Please select the symptoms you are having:</b></p>
  <p>Bad Cough <input type = "checkbox" name = "cough" value="Yes"/></p>
  <p>Fever<input type = "checkbox" name = "fever" value="Yes" /></p>
  <p>Weight Loss<input type ="checkbox" name = "weightloss" value="Yes"/></p>
  <p>Pain in the Chest<input type ="checkbox" name = "chestpain" value="Yes"/></p>
  <p><b>Please upload your chest X-ray below:</b></p>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>
</html>








