
<!--<html>-->
<!--    <body>-->
<!--    <h1>Welcome to TB Detector</h1>-->
<!--    <h2>Please enter the details below:</h2>-->
<!--    <form method=”POST” >-->
<!--        {{ form.hidden_tag() }}-->
<!--        {{ form.name.label }} {{form.name}}-->
<!--        <br>-->
<!--        {{ form.cough.label }} {{form.cough}}-->
<!--        <br>-->
<!--        {{ form.file }}-->
<!--        <br>-->
<!--        <input type="submit">-->
<!--      </form>-->
<!--    </body>-->
<!--</html>-->
<!--action = "http://localhost:5000/prediction"-->


<!--<html>-->
<!--<body>-->

<!--<h1>Thank You. Here is the Information You Gave:</h1>-->
<!--<ul>-->
<!-- <li>Name: {{session[‘name’]}}</li>-->
<!--</ul>-->
<!--<h2>Your Predicted Probability is: {{prob_norm}} and {{prob_tb}}</h2>-->
<!--</body>-->
<!--</html>-->